* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body,
.main {
  position: relative;
  z-index: -3;
}

.header {
  position: sticky;
  top: 0;
  height: 10vh;
  padding: 1vh;
  background-color: #f2f9fd;
  border-bottom: 1px solid #1b81ae;
  color: black;
  display: flex;
  justify-content: space-around;
}
/*header-logo*/
.header-logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo > img {
  width: 50px;
  height: 50px;
}

.header-logo > h1 {
  margin-left: 15px;
}

.header-logo > h1 > a {
  color: #102f41;
}

/*navegacion*/
.nav {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > a {
  color: black;
}

.comprar {
  background-color: #1b81ae;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #f2f9fd;
  border: 2px solid #1b81ae;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #1b81ae;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #1b81ae;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #1b81ae;
}

.dropdown-content #ult:hover {
  border-radius: 0px 0px 11px 11px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

.nav > a:hover {
  text-decoration: underline;
}

/*search*/

.header-search {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-search > input[type="text"] {
  width: 70%;
  height: 70%;
  border: 1px solid #1c274c;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 35px;
}

.header-search > button {
  width: 7%;
  height: 50%;
  background-color: white;
  border-radius: 70px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 68px;
}

.header-search img {
  height: 100%;
}

/*opciones*/
.header-options {
  width: 25%;
  height: 100%;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-options a:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-right: 1px solid black;
}

.header-options a:nth-child(1) > img {
  margin-right: 10px;
}
.header-options a:nth-child(2) {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
.header-options a:nth-child(3) {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-options div {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #1c274c;
  border-radius: 50%;
  bottom: 20px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.header-options img {
  width: 32px;
  height: 32px;
}

/*aside -redes*/

.aside-redes {
  position: fixed;
  background-color: #1c274c;
  width: 40px;
  height: 120px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.facebook {
  width: 32px;
  height: 32px;
}

.instagram {
  width: 24px;
  height: 24px;
}

.tiktok {
  width: 24px;
  height: 24px;
}

/*main contenido*/

.main {
  width: 100%;
  height: 90vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ELVIS*/

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.808);
}
.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500s;
}
.caja__trasera div p,
.caja__trasera div button {
  margin-top: 30px;
}
.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}
.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #ffff;
  outline: none;
  transform: all 300s;
}
.caja__trasera button:hover {
  background: #fff;
  color: #46a2fd;
}

/*Fomularios*/
.contenedor__login-registrar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.855, 0.32, 1.275);
}
.contenedor__login-registrar form:nth-child(1){
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  position: absolute;
  border-radius: 20px;
}
.contenedor__login-registrar form:nth-child(2){
    width: 100%;
    padding: 35px 20px;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
      0 1px 0 rgba(0, 0, 0, 0.07) inset;
    position: absolute;
    border-radius: 20px;
  }
.contenedor__login-registrar form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}
.contenedor__login-registrar form input, select {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  border-top-color: rgb(166, 166, 166);
  font-size: 16px;
  outline: none;
}
.contenedor__login-registrar form input:hover {
  border-color: #007185;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
}

.contenedor__login-registrar form button, input[type="button"]{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: white;
  outline: none;
}
.formulario__login {
  opacity: 1;
  display: block;
}
.formulario__registrar {
  display: none;
}
/*Resposive desing*/
@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0;
    position: absolute;
  }

  /*formulario responsive*/
  .contenedor__login-registrar {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-registrar form {
    position: relative;
  }
}

.registrar-part2 {
    display: none; /* Ocultar la segunda parte inicialmente */
}

/*aside 2*/

.aside-wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #5bd066;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-wsp img {
  width: 30px;
  height: 30px;
}

/*footer*/

.footer {
  width: 100%;
  height: 10vh;
  background: #283f80;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
